@font-face{
    font-family: GoodHeadlineProCondMedium;
  src: url(InriaSans-Regular.ttf);
}

.heading{
    font-family: GoodHeadlineProCondMedium, Verdana, sans-serif;
    color: #030;
    font-size: 2.875rem;
    line-height: 1.2em;
    letter-spacing: 0.23rem;
}

body{
    margin: 0;
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #030;
    text-align: left;
    background-color: #fff;
}

.heading-3{
    font-family: GoodHeadlineProCondMedium,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 900;
    font-size: 27px;
}

.display-1{
    font-size: 2rem;
    line-height: 1em;
    font-weight: 500;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.cursor-pointer{
    cursor: pointer;
}
.sl-meal{
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    transition: 0.3s;
}

.sl-meal:hover{
    background-color: #F2F2F2;
    cursor: pointer;
}

.sl-meal-label{
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: 1.4px;
    color: #333;
    width: auto;
}

.sl-meal-remove{  
    color: black;
    transition: 0.5s;
}

.sl-meal-remove:hover{
    color: red;
}



.day-list-item{
    background-color: transparent;
    transition: 0.5s;
}

.day-list-item:focus{
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(7,135,43,.25);
}

.day-list-item:focus ,.day-list-item:hover{
    z-index: 2;
    cursor: pointer;
    transform: translateX(5px);
}


.day-list-item::before{
    position: absolute;
    top: 0;
    left: -1px;
    z-index: 1;
    width: 7px;
    height: 100%;
    content: "";
}



.m-card{
    padding:0px;
    box-shadow: 0px 0.5px 10px rgb(216, 215, 215);
    cursor: pointer;
    transition: 0.5s;
}

.m-card:hover{
    box-shadow: 4px 4px 10px rgb(175, 174, 174);
}
.display-4{
    font-weight: 200;
    line-height: 1;
}

.desc{
    font-size: 1.25rem;
    font-weight: 300;
}

.img-h{
    height: 124px;
}

.arrow{
    height: 85px;
    margin-right: 10px;
    margin-left: 10px;
}

.card-img{
    width: 100%;
    object-fit: cover;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.day-list{
    max-height: 300px;
    overflow: scroll;
    overflow-x: hidden;
}

.item-selected{
    color: #030;
    background-color: #fafafa;
}

.item-selected::before{
    background-color: #07872b;
}

.meal-card{
    padding:0px;
    box-shadow: 0px 0.5px 10px rgb(172, 170, 170);
    cursor: pointer;
    transition: 0.5s;
}

.meal-card:hover{
    box-shadow: 4px 4px 10px rgb(175, 174, 174);
}

.meal-card-name{
    font-weight: 300;
    padding-top: 8px;
    font-size: 1.125rem;
    line-height: 1.25rem;
    letter-spacing: 1.8px;
    color: #030;
}

.meal-card-desc{
    font-weight: 400;
    font-family: Roboto;
    font-size: .875rem;
    line-height: 1rem;
    letter-spacing: normal;
    color: #666;
    font-style: italic;
}

.meal-card-nutrition{
    font-weight: 400;
    font-family: Roboto;
    font-size: .75rem;
    line-height: .875rem;
    letter-spacing: normal;
    color: #757575;
}

.meal-add-btn{
    background-color: #00aa1f;
}



.mh-111{
    min-height: 111px;
}

.mh-480{
    height: calc(100vh - 269px);
    overflow-y: scroll;
}

.mh-50{
    min-height: 50px;
    max-height: 50px;
}

.fw-700{
    font-weight: 700;
}

.text-red{
    color: red;
}

#clear-all{
    text-decoration: none;
    color: #07872b;
}

.m-card-sec{
    height: calc(100vh - 65px);
    overflow-y: scroll;
}

.sl-meal-card-sec{
    height: calc(100vh - 100px);

}

.step-content{
    overflow: hidden;
}

.form-fields{
    border: 1px solid #666;
    transition: 0.5s;
}

.form-fields:focus{
    outline: 4px solid #739d73;
}

.faqs:hover{
    color: #07872B;
}


.disabled-btn{
    opacity: 0.4;
    cursor: no-drop !important;
}

.enabled-btn{
    opacity: 1;
    cursor: pointer;
}


@media only screen and (max-width: 520px) {
    .img-h{
        height: 100px;
    }
    .arrow{
        height: 75px;
        margin-right: 5px;
        margin-left: 5px;
    }
    .heading{
        font-family: GoodHeadlineProCondMedium, Verdana, sans-serif;
        color: #030;
        font-size: 1.875rem;
        line-height: 1em;
        letter-spacing: 0.23rem;
    }
    .display-1{
        font-size: 2rem;
        line-height: 1em;
        font-weight: 400;
        letter-spacing: 1.4px;
        text-transform: uppercase;
    }
}

@media only screen and (max-width: 424px) {
    .img-h{
        height: 80px;
    }
    .arrow{
        height: 70px;
        margin-right: 5px;
        margin-left: 5px;
    }
    .heading{
        font-family: GoodHeadlineProCondMedium, Verdana, sans-serif;
        color: #030;
        font-size: 1.875rem;
        line-height: 1em;
        letter-spacing: 0.23rem;
    }
    .display-1{
        font-size: 1.8rem;
        line-height: 1em;
        font-weight: 300;
        letter-spacing: 1.4px;
        text-transform: uppercase;
    }
}

@media only screen and (max-width: 992px){
    .card-img{
        width: 100%;
        height: 100%;
        border-top-left-radius: calc(.25rem - 1px);
        border-top-right-radius: calc(.25rem - 1px);
    }
    .img-div{
        padding: 0px;
        margin-top: 0px;
        width: 35%;
        max-height: 100%;
    }
} 